.accordionItem {
    background-color: #128C8B;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--bgSoft);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.accordionHeader h3 {
    margin: 0;
}

.icon {
    font-size: 20px; /* Adjust the size as needed */
    color: #fff; /* Color of the icons */
}

.icon:hover {
    color: #f0f0f0; /* Hover effect color */
}

.accordionContent {
    padding: 15px;
    background-color: #f9f9f9; /* Light background for the content */
    color: #333; /* Text color */
    border-top: 1px solid #ddd;
}
