/* General container styling */
.container {
    background-color: #182237; /* Dark blue background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: #ffffff; /* Text color set to white for better readability */
  }
  
  /* Table styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .table th {
    background-color: #128C8B;
    color: white;
    font-weight: bold;
  }
  
  .table tr:hover {
    background-color: #44b49d;
  }
  
  .searchAndFilterBar {
    display: flex;
    /* Space out search, filter, and PDF export button */
    padding: 10px;
    margin-bottom: 20px;
    
}

.searchInput, .filterSelect {
    padding: 8px;
    margin-right: 10px; /* Space between search/filter and the button */
    border: 3px solid #128C8B;
    border-radius: 20px;
    background-color: var(--bg);
   
}

.pdfExportButton {
    padding: 8px 20px;
    background-color: #128C8B; /* Example color, choose what fits your design */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.searchInput::placeholder {
    color: white; /* Change #888 to whatever color you prefer */
    opacity: 1; /* Ensures the color is not transparent; adjust as needed */
}
  