
.container {
    background-color: var(--bgSoft);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.tableWrapper {
    margin-top: 20px;
}

/* Client Section Styles */
.clientSection {
    margin-bottom: 20px;
    border: 1px solid #060606;
    border-radius: 5px;
    background-color: var(--bgSoft);
    padding: 10px;
}

.clientHeader {
    background-color: #efefef;
    color: var(--bgSoft);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



.clientHeader h3 {
    margin: 15;
}

.clientHeader p {
    margin: 0;
    font-size: 14px;
}

.subscriptionsList {
    padding: 10px;
    background-color: var(--bgSoft);
}

.searchAndFilterBar {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.searchInput, .filterSelect, .pdfExportButton {
    padding: 8px;
    margin-right: 10px;
    border: 3px solid #128C8B;
    border-radius: 20px;
    background-color: var(--bg);
    color: white;
}

.pdfExportButton {
    background-color: #128C8B;
    color: white;
    border: none;
    cursor: pointer;
}

.searchInput::placeholder {
    color: white;
    opacity: 1;
}

.formControl {
    width: 200px; /* Adjust width as needed */
}

@media screen and (max-width: 600px) {
    .searchAndFilterBar {
        flex-direction: column;
    }

    .searchInput, .filterSelect, .pdfExportButton {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .clientHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .clientHeader h3 {
        margin-bottom: 5px;
    }
    .clientHeader p {
        margin-bottom: 5px;
    }
}
